.sidebar {
  background-color: #30264b;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: none;
  background: #30264b;
  border-bottom: 2px solid #604f8f;
  cursor: pointer;
  height: 80px;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #1f153a;
}

.button img {
  width: 40px;
}

.title {
  color: #f8a438;
}
