.sidebar {
  background-color: black;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: none;
  background: rgb(221, 217, 217);
  margin: 0 0 20px;
  border-radius: 2px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #fff;
}

.button img {
  width: 50px;
}

.title {
  color: white;
}
